<div class="package-data-box-table">
  <table class="table table-borderless my-3" id="packageInfo">
    <thead>
      <tr>
        <th scope="col">Package</th>
        <th scope="col">System</th>
        <th scope="col">Car Value</th>
        <th scope="col">User Value</th>
        <th scope="col">Server</th>
        <th scope="col">Backup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="first-data-in-table">{{ data?.packageName }}</td>
        <td>{{ data?.system }}</td>
        <td>{{ data?.carValue }}</td>
        <td>{{ data?.userValue }}</td>
        <td>{{ data?.serverType }}</td>
        <td>{{ data?.backup }}</td>
      </tr>
    </tbody>
  </table>
</div>
