<div class="detail-server-dialog-card">
  <div class="card-header">
      <span>Server Detail</span>
  </div>
  <div class="card-body">
      
    <table class="table table-borderless my-3" id="serverInfo">
      <thead>
        <tr>
          <th scope="col">Server Name</th>
          <th scope="col">Status</th>
          <th scope="col">End Point</th>
          <th scope="col">Provider</th>
          <th scope="col">CPU</th>
          <th scope="col">RAM</th>
          <th scope="col">SSD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="first-data-on-table">{{server?.serverName}}</td>
          <td><button type="button" class="btn"
              [ngClass]="{'success-color': server?.status === 'Enable', 'danger-color': server?.status === 'Disable'}"
              disabled>{{server?.status}}</button></td>
          <td>{{server?.endPoint}}</td>
          <td>{{server?.provider}}</td>
          <td>{{server?.cpu}}</td>
          <td>{{server?.ram}}</td>
          <td>{{server?.ssd}}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>
