<div class="package-select-dialog">
    <div class="card-header">
      <span class="title-header">Select Package</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-lg-12 filter-label">
          <label>Search From</label>
          <span> : Package Name</span>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-10 filter-search-input">
          <div class="nav-list">
            <div class="subject">
              <i class="bx bx-search"></i>
              <input
                type="text"
                placeholder="Enter the word you want to search."
              />
            </div>
          </div>
        </div>
        <div class="col col-lg-2 filter-search-button">
          <span>
            <button class="btn search-button" type="submit">Search</button>
          </span>
        </div>
      </div>
      <div class="row form-row">
        <div class="form-group col col-lg-12 package-info">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="packageName">
              <th mat-header-cell *matHeaderCellDef> Package Name </th>
              <td mat-cell *matCellDef="let element" class="first-data"><span class="first-data-on-table">
                  {{element.packageName}}</span>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="system">
              <th mat-header-cell *matHeaderCellDef> System </th>
              <td mat-cell *matCellDef="let element"> <span>{{element.system}}</span> </td>
            </ng-container>
  
            <ng-container matColumnDef="carValue">
              <th mat-header-cell *matHeaderCellDef> Car Value </th>
              <td mat-cell *matCellDef="let element"> {{element.carValue}} </td>
            </ng-container>
  
            <ng-container matColumnDef="userValue">
              <th mat-header-cell *matHeaderCellDef> User Value </th>
              <td mat-cell *matCellDef="let element"> {{element.userValue}} </td>
            </ng-container>
  
            <ng-container matColumnDef="serverType">
              <th mat-header-cell *matHeaderCellDef> Server </th>
              <td mat-cell *matCellDef="let element"> {{element.serverType}} </td>
            </ng-container>
  
            <ng-container matColumnDef="backup">
              <th mat-header-cell *matHeaderCellDef> Backup </th>
              <td mat-cell *matCellDef="let element"> {{element.backup}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action" class="action">
              <th mat-header-cell *matHeaderCellDef>
              </th>
  
              <td mat-cell *matCellDef="let row; let i=index;">
                <button type="submit" class="btn button-submit">
                  <span>Select</span>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  